html,
body {
    font-family: Inconsolata;
}

#letters {
    margin: 140px auto;
    width: 800px;

    .letter {
        font-size: 28px;
    }

    .letter.mark-correct {
        color: blue;
    }

    .letter.mark-incorrect {
        color: red;
    }

    .letter.underline {
        border-bottom: 2px solid purple;
    }
}