html,
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#letters {
    margin: 140px auto;
    width: 800px;

    .letter {
        font-size: 28px;
        margin: 0.5px;
    }

    .letter.mark {
        color: blue;
    }
}