html,
body {
    margin: 0;
    padding: 0;
    font-family: Inconsolata;
    #focus {
        position: absolute;
        top: 0;
        z-index: -99;
    }
    .underline-red {
        border-bottom: 1px solid red;
    }
    .hidden {
        visibility: hidden;
    }
}

.typing-info {
    margin: 0 80px;
}

.navbar {
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #455A64;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    #settings-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        height: 100%;
        width: 110px;
        font-size: 18px;
    }
    #settings-button:hover {
        background-color: #63818e;
        color: #fff;
    }
}

#letters {
    white-space: pre;
    margin: 140px auto;
    width: 800px;
    .letter {
        font-size: 28px;
    }
    .letter.mark-normal {
        color: black;
    }
    .letter.mark-correct {
        color: blue;
    }
    .letter.mark-incorrect {
        color: red;
    }
    .letter.underline {
        border-bottom: 2px solid purple;
    }
}

#settings-view {
    position: absolute;
    top: 100px;
    margin-left: 10%;
    width: 80vw;
    height: 80vh;
    box-shadow: 0 4px 18px #555;
    background-color: #fff;
    box-sizing: border-box;
    padding: 16px 50px;
    z-index: 100;
    .settings-header {
        display: flex;
        justify-content: space-between;
    }
    #settings-exit-button {
        font-size: 30px;
        margin: 0;
        margin-top: 10px;
    }
    #custom-text-area {
        margin: 12px 0;
        width: calc(100% - 24px);
        height: 400px;
        padding: 12px;
        resize: none;
        font-size: 18px;
        color: #555;
        outline: none;
    }
    #input-custom-text-button {
        padding: 12px;
        border: 3px solid #673AB7;
        color: #673AB7;
        font-size: 18px;
        font-weight: 600;
        background-color: #fff;
    }
    #input-custom-text-button:hover {
        background-color: #673AB7;
        color: #fff;
        cursor: pointer;
    }
    #input-text:focus {
        outline: none;
    }
}
